/Assignments
/Create a variable outside of a function, and use it inside the function.py
/examples of illegal variables.py
/examples of variables.py
/practice.py
/practice2.py
/Python data types.py
/Slicing.py
/String Concantation.py
/String find Method.py
/string fromat method.py
/Type Conversion.py